:root{
    --navbar-height: 65px;
}

html {
    overflow: auto;
}

html, body, div {
    box-sizing:border-box;
    width: 100%;
    font-family: "Maiandra GD", serif;
}

p {
    padding: 0;
    margin: 0;
}


.home-page {
    height: 100%;
    width: 100%;
    position: relative;
}

.img-top-layer {
    position: absolute;
    z-index: 1000;
    top: 0;
}

.main-heading {
    width: 100%;
    padding: 40px;
    background-color: #F7ffff;
    position: absolute;
    left: 0;
    top: 20%;
    z-index: 1000;
    font-size: 40px;
    font-family: "Maiandra GD", serif;
    text-align: center;
    /*margin: 30px;*/
}

.sub-heading {
    padding-top: 20px;
    font-size: 15px;
    font-family: "Maiandra GD", serif;
    text-align:center;
}

.styleobj {
    padding: 40px;
    font-family: "Maiandra GD", serif;
    /*color: '#116661',*/
    font-size: 30px;
    height: 100%;
}

.liststyle {
    list-style-type: none;
}

.itemstyleobj {
    margin: 20px;
    padding:5px;
    border-width:3px;
    border-style:solid;
    border-radius:3px;
    text-align:center;
    width:150px;
    height:150px;
    float:left;
    font-size:20px;
}

.img-background {
    /*top: 0;*/
    /*position: fixed;*/
    height: 100%;
    width: 100%;
}

.navbar {
    position: sticky;
    top: 0;
    height: var(--navbar-height);
}

.navbar-brand {
    cursor: pointer;
}

.sidebar {
    width: 20%;
}

.sidebar-content {
    position: sticky;
    top: var(--navbar-height);
}

.no-link:hover {
    cursor: default;
}

.nav-link-parent {
    padding-left: 0;
}

.nav-link-child {
    padding-left: 17%;
}

.brand {
    font-size: x-large;
    font-weight: bolder;
}

.screen {
    display: flex;
    flex-direction: row;
}

.page {
    padding: 5%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    /*background-image: url("./assets/confetti.jpg");*/
    /*background-repeat: round;*/
}

.main {
    width: 80%;
}

.table-title {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}

.sidebar-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input {
    transition: none;
}

.btn-primary {
    margin-bottom: 10%;
    margin-left: 10%;
    transition: none;
}

.btn-login {
    margin: 5px;
}

.btn-table{
    margin: 0;
    padding: 1%;
    alignment: center;
}

.btn-delete {
    float: right;
    font-family: sans-serif;
}

.btn:focus, input:focus {
    box-shadow: none  !important;
}

.icon {
    width: 35%;
}

