:root{
    --navbar-height: 65px;
}


html {
    overflow: auto;
}

html, body, div {
    box-sizing:border-box;
    width: 100%;
    font-family: "Maiandra GD", serif;
}

p {
    padding: 0;
    margin: 0;
}

.navbar {
    position: sticky;
    top: 0;
    height: var(--navbar-height);
}

.sidebar {
    width: 20%;
}

.sidebar-content {
    position: sticky;
    top: var(--navbar-height);
}

.no-link:hover {
    cursor: default;
}

.nav-link-parent {
    padding-left: 0;
}

.nav-link-child {
    padding-left: 17%;
}

.brand {
    font-size: x-large;
    font-weight: bolder;
}

.screen {
    display: flex;
    flex-direction: row;
}

.page {
    padding: 5%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
}

.main {
    width: 80%;
}

.table-title {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}

.sidebar-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input {
    transition: none;
}

.btn-primary {
    margin-bottom: 10%;
    margin-left: 10%;
    transition: none;
}

.btn-login {
    margin: 5px;
}

.btn-table{
    margin: 0;
    padding: 1%;
    alignment: center;
}

.btn-delete {
    float: right;
    font-family: sans-serif;
}

.btn:focus, input:focus {
    box-shadow: none  !important;
}

.icon {
    width: 35%;
}

