html, body, div {
    width: 100%;
    height: 100%;
    font-family: "Maiandra GD", serif;
    /*color: #116661;*/
}

p {
    padding: 0;
    margin: 0;
}

.sidebar {
    background-color: #A7B8B5;
    width: 20%;
    height: 100%;
}

.navbar {
    background-color: #116661;
}

.nav-link {
    color: black;
    border-bottom: #116661 solid;
}

.nav-link:active {
    background-color: #F7FFFF;
}

.nav-link-parent {
    border: none;
    padding-left: 0;
}

.nav-link-parent:active {
    background-color: #A7B8B5;
}

.nav-link-child {
    background-color: #C7D8D5;
    border-bottom: #116661 solid;
    padding-left: 17%;
}

.nav-link:hover {
    color: black;
}

.brand {
    font-size: x-large;
    color: white;
    font-weight: bolder;
}

.screen {
    display: flex;
    flex-direction: row;
}

.page {
    background-color: #F7FFFF;
    padding: 5%;
    display: flex;
    flex-direction: row;
}

.main {
    width: 80%;
}

.table-title {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}

.thead {
    background-color: #116661;
}

.tbody {
    background-color: #C7D8D5;
}

.sidebar-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.btn-primary {
    height: 15%;
    background-color: #C7D8D5;
    border-color: #C7D8D5;
    margin-bottom: 10%;
    margin-left: 10%;
    transition: none;
    color: black;
}

.btn-primary:hover {
    background-color: #116661;
    border-color: #116661;
}

.btn:focus {
    box-shadow: none  !important;
}
