:root{
    --dark-mode-background-color: #222222;
    /*blue*/
    /*--dark-mode-dark: #01B6FC;*/
    /*--dark-mode-medium: #a7e5fd;*/
    /*--dark-mode-light: #fff;*/
    /*--dark-mode-med2: #fff;*/
    /*--dark-mode-whitish: #fff;*/
    /*--btn-light: #a7e5fd;*/
    /*--btn-dark: #01B6FC;*/
    /*green*/
    --dark-mode-dark: #116661;
    --dark-mode-medium: #A7B8B5;
    --dark-mode-light: #82A19B;
    --dark-mode-med2: #6e9890;
    --dark-mode-whitish: #fdfffd;
    --btn-light: #82A19B;
    --btn-dark: #116661;
}

.sidebar {
    background-color: var(--btn-light);
}

.styleobj {
    color: var(--dark-mode-dark);
}

.main-heading {
    color: var(--dark-mode-dark);
}

.sub-heading {
    color: var(--dark-mode-dark);
}

.navbar {
    background-color: var(--dark-mode-dark);
}

.nav-link {
    color: black;
    border-bottom: var(--dark-mode-dark) solid;
}

.nav-link-parent {
    border: none;
}

.nav-link:active {
    background-color: var(--dark-mode-background-color);
}

.no-link:active {
    background-color: var(--dark-mode-medium);
}

.nav-link-parent:active {
    background-color: var(--dark-mode-medium);
}

.nav-link-child {
    background-color: var(--dark-mode-med2);
    border-bottom: var(--dark-mode-dark) solid;
}

.nav-link:hover {
    color: black;
}

.brand {
    color: var(--dark-mode-whitish);
}

.page {
    background-color: var(--dark-mode-background-color);
}

.thead {
    background-color: var(--dark-mode-dark);
}

.tbody {
    background-color: var(--dark-mode-light);
}

.table-bordered td, .table-bordered th {
    border: 1px solid var(--dark-mode-background-color);
}

.table thead th {
    border-bottom: 2px solid var(--dark-mode-background-color);
    color: var(--dark-mode-whitish);
}

input {
    background-color: var(--dark-mode-light);
    border-color: var(--dark-mode-light);
    color: black;
}

.btn-primary {
    background-color: var(--btn-light);
    border-color: var(--btn-dark);
    color: black;
}

.btn-primary:hover {
    background-color: var(--btn-dark);
    border-color: var(--btn-dark);
}

input:hover{
    border-color: var(--dark-mode-dark);
}
