:root{
    --background-color: #fff;
    --blackish: #222222;
    /*green*/
    /*--dark: #116661;*/
    /*--medium: #A7B8B5;*/
    /*--light: #C7D8D5;*/
    /*--white-green: #fdfffd;*/
    /*--btn-light: #A7b8b5;*/
    /*--btn-dark: #116661;*/
    /*blue*/
    --dark: #01B6FC;
    --medium: #a7e5fd;
    --light: #F7ffff;
    --white-green: #fff;
    --btn-light: #a7e5fd;
    --btn-dark: #01B6FC;
}

.main-heading {
    color: var(--dark);
}

.sub-heading {
    color: var(--dark);
}

.sub-heading {
    font-size: 15px;
    font-family: "Maiandra GD", serif;
    text-align:center;
}

.styleobj {
    color: var(--dark);
}

.btn-dark-mode {
    background-color: var(--light);
    color: var(--blackish);
}

.sidebar {
    background-color: var(--medium);
}

.navbar {
    background-color: var(--dark);
}

.nav-link {
    color: var(--blackish);
    border-bottom: var(--dark) solid;
}

.table thead th {
    color: var(--white-green);
}

.nav-link-parent {
    border: none;
}

.nav-link:active {
    background-color: var(--background-color);
}

.no-link:active {
    background-color: var(--medium);
}

.nav-link-parent:active {
    background-color: var(--medium);
}

.nav-link-child {
    background-color: var(--light);
    border-bottom: var(--dark) solid;
}

.nav-link:hover {
    color: var(--blackish);
}

.brand {
    color: var(--white-green);
}

.page {
    background-color: var(--background-color);
}

.thead {
    background-color: var(--dark);
}

.tbody {
    background-color: var(--light);
}

input {
    background-color: var(--light);
    border-color: var(--light);
    color: var(--blackish);
}

.btn-primary {
    background-color: var(--btn-light);
    border-color: var(--btn-dark);
    color: var(--blackish);
}

.btn-primary:hover {
    background-color: var(--btn-dark);
    border-color: var(--btn-dark);
}

input:hover{
    border-color: var(--dark);
}
